header{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 0;
  position: fixed;
  z-index: $zIndex-header;
  
  @include flex;
  @include align-items( center );
  @include justify-content( space-between );
  
  .link-logo{
    width: 50px;
  }
}