header{
  width: calc(100% - 100px);
  top: 35px;
  left: 0;
  position: absolute;
  z-index: $zIndex-header;
  
  .logo{
    width: 150px;
    float: left;
    
    img{
      max-width: 150px;
    }
  }
  
  .lang{
    float: right;
    
    *{
      color: $white;
      display: inline;
    }
  }
}

@media #{$small-only}{
  header{
    width: calc(100% - 40px);
    text-align: center;
    
    .logo,
    .lang{
      width: 100%;
      margin-bottom: 15px;
    }
  }
}