// zIndex scale
$zIndex-1:  -100;
$zIndex0:   0;
$zIndex1:   100;
$zIndex2:   200;
$zIndex3:   300;
$zIndex4:   400;
$zIndex5:   500;
$zIndex6:   600;
$zIndex7:   700;
$zIndex8:   800;
$zIndex9:   900;
$zIndex10:  1000;

// zIndex implementations
$zIndex-heroBanner:   $zIndex-1;

$zIndex-section:      $zIndex9;
$zIndex-heroContent:  $zIndex9;

$zIndex-header:       $zIndex10;
$zIndex-footer:       $zIndex10;
$zIndex-arrow:        $zIndex10;