%base{
  font-size: 16px;
  font-weight: normal;
  text-rendering: geometricPrecision;
  
  &.system{
    font-size: 15px;
  }
}

h1{
  @include chronicle;
  @extend %base;
  
  font-size: 48px;
}

h2{
  @extend h1;
  
  font-size: 35px;
}

h3{
  @extend %base;
  
  font-size: 20px;
}

p{
  @extend %base;
  @include archer;
  
  font-size: 20px;
}

a{
  @extend %base;
  @include archer;
  
  font-size: 15px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  
  &.link-h1,
  &.link-h2,
  &.link-h3,
  &.link-p{
    text-decoration: none;
  }
}

a:has(p){
  text-decoration: none;
  border-bottom: thin solid red;
}