.section-grid{
  ul{
    width: 100%;
    
    li{
      margin-bottom: 50px;
      
      > *{
        margin-bottom: 15px;
      }
      
      img{
        min-width: 100%;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1400px){
  .section-grid{
    ul{
      li{
        width: 25%;
      }
    }
  }
}