.section-grid{
  ul{
    width: 100%;
    
    li{
      margin-bottom: 50px;
      
      > *{
        margin-bottom: 15px;
      }
      
      img{
        min-width: 100%;
        display: block;
      }
    }
  }
}

// Removing margin-bottom for last row
.section-grid{
  @for $value from 1 through $block-grid-elements{
    [class*="grid-#{$value}"] li:nth-last-child(-n+#{$value}){
      margin-bottom: 0;
    }
  }
}

.section-grid ul.isotope{
  li:nth-child(n){
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1400px){
  .section-grid{
    ul{
      li{
        width: 25%;
      }
    }
  }
}