@mixin section-padding{
  &.pad-none{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  &.pad-no-top{
    padding-top: 0;
  }
  
  &.pad-no-bottom{
    padding-bottom: 0;
  }
  
  &.pad-no-left{
    padding-left: 0;
  }
  
  &.pad-no-right{
    padding-right: 0;
  }
  
  &.pad-no-sides{
    padding-left: 0;
    padding-right: 0;
  }
  
  &.pad-extra-top{
    padding-top: 120px;
  }
  
  &.pad-extra-bottom{
    padding-bottom: 120px;
  }
}

.section,
.section-header,
.section-content,
.section-footer{
  @include section-padding;
}