%base{
  // Styles
  &.is_italic{
    font-style: italic;
  }
  
  &.is_underlined{
    text-decoration: underline;
  }
  
  &.is_capitalized{
    text-transform: capitalize;
  }
  
  &.is_uppercase{
    text-transform: uppercase;
  }
  
  &.is_lowercase{
    text-transform: lowercase;
  }
  
  &.is_bold{
    font-weight: 700;
  }
  
  // Alignment
  &.is_aligned-center{
    text-align: center;
  }
  
  &.is_aligned-left{
    text-align: left;
  }
  
  &.is_aligned-right{
    text-align: right;
  }
  
  // Colors
  &.is_black{
    color: $black;
  }
  
  &.is_white{
    color: $white;
  }
}

p.is_small{
  font-size: 15px;
}