footer{
  @include flex;
  @include align-items( center );
  @include justify-content( space-between );
  
  z-index: $zIndex-footer;
  
  height: 60px;
  
  background-color: $brown-dark;
  
  *{
    color: $white;
  }
  
  > img{
    max-width: 250px;
    margin-bottom: 50px;
  }
  
  ul{
    li{
      padding: 0 .5em;
      display: inline-block;
      
      img{
        width: 25px;
        vertical-align: middle;
      }
      
      // Newsletter link
      &:last-child{
        margin-left: 1.5em;
        
        span{
          margin-left: .5em;
        }
      }
    }
  }
}

@media #{$small-only}{
  footer{
    ul{
      li:last-child{
        margin-left: 0;
        
        span{
          display: none;
        }
      }
    }
  }
}