footer{
  z-index: $zIndex-footer;
  
  padding-top: 10px;
  padding-bottom: 10px;
  
  background-color: $brown-dark;
  
  *{
    color: $white;
  }
  
  > img{
    max-width: 250px;
    margin-bottom: 50px;
  }
  
  ul{
    li{
      width: 35px;
      padding: 0 .5em;
      display: inline-block;
    }
  }
  
}