header {
  z-index: $zIndex-header;
  
  width: 100%;
  
  .subheader{
    @include flex;
    @include align-items( flex-end );
    @include justify-content( space-between );
    
    padding: 10px $side-margin;
    
    background-color: $brown;
    
    img{
      width: 300px;
    }
    
    p{
      font-size: 28px;
      color: $white;
    }
  }
}

@media #{$small-only}{
  header{
    .subheader{
      @include flex-direction( column );
    }
  }
}