main{
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: $white;
  z-index: $zIndex-main;
}

@media #{$small-only}{
  main{
    padding-top: 0 !important;
  }
}
