main{
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: $white;
  z-index: $zIndex-main;
}

main section{
  &:first-child{
    padding-top: $section-spacing * 2;
    
    &.section-block{
      padding-top: $section-spacing;
    }
  }
}