.section-accordion{
  ul li div{
    transition-timing-function: ease-in-out;
    @include transition( .5s );

    max-height: 0;
  }

  ul li div.active{
    @include transition( .5s );

    max-height: 1000px;
  }
}

.section-accordion ul li.opened{
   p i{
    @include transition( .5s );
    @include transform( rotate(135deg) );
  }
}
