.section-accordion{
  .section-body{
    transition-timing-function: ease-in-out;
    @include transition( .5s );

    max-height: 0;
  }

  .section-body.active{
    @include transition( .5s );

    max-height: 1000px;
  }
}

.section-accordion.opened{
  .section-header:after{
    @include transition( .5s );
    @include transform( scale(1.2) rotate(135deg) );
  }
}
