body.ie{
  main{
    display: block;
  }

  .section-block.text .section-body{
    width: 100%;
    max-width: none;
  }

  .section-block.text .section-body > *{
    max-width: 600px;
    margin: 0 auto 1em;
  }
}
