@mixin section_padding{
  &.has_no-pad{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  &.has_no-padTop{
    padding-top: 0;
  }
  
  &.has_no-padBottom{
    padding-bottom: 0;
  }
  
  &.has_no-padLeft{
    padding-left: 0;
  }
  
  &.has_no-padRight{
    padding-right: 0;
  }
  
  &.has_no-padSides{
    padding-left: 0;
    padding-right: 0;
  }
  
  &.has_extra-padTop{
    padding-top: $section-spacing * 2;
  }
  
  &.has_extra-padBottom{
    padding-bottom: $section-spacing * 2;
  }
  
  &.has-bg{
    padding-top: 0;
    padding-bottom: 0;
    
    .section-body{
      padding: $section-spacing $column-gutter;
      
      background-color: $brown;
    }
  }
}

section,
.section_header,
.section_body,
.section_footer{
  @include section_padding;
}