.section-accordion{
  .section-header,
  .section-body{
    max-width: 650px;
    margin: auto;
    margin-bottom: 1em;
  }

  .section-header{
    cursor: pointer;

    &:after{
      @include transition( .5s );
      @include transform( scale(1.2) );

      content: '+';

      top: 0;
      right: 0;
      position: absolute;

      height: 100%;

      pointer-events: none;
    }
  }

  .section-body{
    overflow: hidden;
  }
}
