.section-block{
  width: calc( 50% + 25px );
  height: 720px;
  float: left;

  text-align: center;
  background-color: #f2f2f2;

  &.left{
    margin-left: -25px;
  }

  &.right{
    margin-right: -25px;
  }

  .section-body{
    padding: 0 $column-gutter;
  }
}

// Align block contents
.section-block.image .section-body,
.section-block.text{
  @include flex;
  @include align-items( center );
  @include justify-content( center );
}

// Image block
.section-block.image{
  ul.slider-images{
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    li{
      width: 100%;
      height: 100%;

      background-repeat: none;
      background-size: cover;
      background-position: center center;
    }
  }

  p{
    @extend h1;
    @include transform( translateY(-50%) );

    top: 50%;
    right: 0;
    left: 0;
    position: absolute;

    max-width: 350px;
    margin: auto;

    color: $white;
  }
}

// Image block with multiple images = slider
.section-block.image.slider{

}

// Text block
.section-block.text{
  .section-body{
    > *{
      margin-bottom: 1em;
    }

    a{
      margin-top: 3em;
    }
  }

  &.odd{
    background-color: $brown-light;
  }

  &.even{
    background-color: $brown;
  }
}

@media #{$medium-down}{
  .section-block{
    width: calc(100% + 50px);
    height: auto;
    margin-left: -25px;
    margin-right: 0;
  }

  .section-block.image{
    height: 400px;
  }
}
