main{
  max-width: 1440px;
  margin: auto;
}

.section-block{
  width: calc( 50% + 25px );
  height: 720px;
  float: left;
  
  background-color: #f2f2f2;
  
  &:nth-child(odd){
    margin-left: -25px;
  }
  
  &:nth-child(even){
    margin-right: -25px;
  }
  
  .section-body{
    padding: 0 $column-gutter;
  }
}

// Align block contents
.section-block.image .section-body,
.section-block.text{
  @include flex;
  @include align-items( center );
  @include justify-content( center );
}

// Image block
.section-block.image{
  .section-body{
    width: calc( 100% + 50px );
    height: calc( 100% + 120px );
    margin-top: -60px;
    margin-left: -25px;
    
    background-size: cover;
    
    p{
      @extend h1;
      
      max-width: 350px;
      
      color: $white;
    }
  }
}

// Text block
.section-block.text{
  .section-body{
    > *{
      margin-bottom: 1em;
    }
    
    a{
      margin-top: 3em;
    }
  }
  
  &.odd{
    background-color: $brown-light;
  }
  
  &.even{
    background-color: $brown;
  }
}

@media #{$medium-down}{
  .section-block{
    width: calc(100% + 50px);
    height: auto;
    margin-left: -25px;
    margin-right: 0;
  }
  
  .section-block.image{
    height: 400px;
  }
}