.section-grid{
  padding: 0;
}

// Removing margin-bottom for last row
@media #{$large-up}{
  @for $value from $block-grid-elements through 1{
    .l-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$medium-only}{
  @for $value from $block-grid-elements through 1{
    .m-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

@media #{$small-only}{
  @for $value from $block-grid-elements through 1{
    .s-grid-#{$value} li:nth-last-child(-n + #{$value}){
      margin-bottom: 0;
    }
  }
}

.section_grid ul.isotope_masonry{
  li:nth-child(n){
    margin-bottom: $column-gutter;
    
    img{
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1400px){
  .section_grid{
    ul{
      li{
        width: 25%;
      }
    }
  }
}