section{
  height: auto;
  overflow: hidden;
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
  background: $white;
  
  .section-header,
  .section-body{
    clear: both;
  }
  
  .section-header{
    margin-bottom: $section-spacing / 2;
  }
}

.section-header{
  max-width: 600px;
}