.section-text{
  clear: both;
  
  .section-body{
    max-width: 650px;
    margin: auto;
    
    p,
    a{
      margin-bottom: 1em;
      
      &:last-child{
        margin-bottom: 0;
      }
      
      &:first-of-type{
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }
}