@font-face{
  font-family: gill;
  src: url('../fonts/gill.ttf');
}

@font-face{
  font-family: gill-bold;
  src: url('../fonts/gill-bold.ttf');
}

@mixin gill{
  font-family: gill;
  font-style: normal;
}

@mixin gill-bold{
  font-family: gill-bold;
  font-style: normal;
  font-weight: bold;
}