%base{
  @include gill;
  
  font-size: 16px;
  font-weight: normal;
  
  color: $black;
  
  -webkit-font-rendering: antialiased;
}

strong{
  @include gill-bold;
}

h1{
  @extend %base;
  @include gill-bold;
  
  font-size: 22px;
  text-transform: uppercase;
}

h2{
  @extend h1;
  
  font-size: 15px;
  text-transform: uppercase;
}

p{
  @extend %base;
}

a{
  @extend %base;
  
  color: $black;
  cursor: pointer;
}