%base{
  @include gill;

  font-size: 16px;
  font-weight: normal;

  color: $black;

  -webkit-font-rendering: antialiased;
}

strong{
  @include gill-bold;
}

h1{
  @extend %base;
  @include gill-bold;

  font-size: 22px;
}

h2{
  @extend %base;

  padding-bottom: 10px; // Compensate arch

  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3{
  @extend %base;

  font-family: 'Times new roman';
  font-size: rem-calc(40);
  font-weight: 100;
  text-transform: uppercase;
}

p{
  @extend %base;

  &.small{
    font-size: rem-calc(12);
  }
}

a{
  @extend %base;

  color: $black;
  cursor: pointer;
  text-decoration: none;

  &.button{
    @include gill-bold;

    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

p{
  a:hover{
    text-decoration: underline;
  }
}

span{
  @extend %base;
}
