nav{
  ul{
    display: inline;
    
    font-size: 0; // To remove spacing between the inline-block objects
    
    li{
      width: calc(100% / 3);
      max-width: 350px;
      display: inline-block;
      
      text-align: center;
      
      a{
        display: block;
        padding: 10px;
        
        text-decoration: none;
      }
    }
  }
}

// Current & hover
nav ul{
  li.current-menu-item a,
  li a:hover,
  li a:focus{
    background-color: $brown;
  }
}

@media #{$small-only}{
  nav{
    ul{
      li{
        width: 100%;
        max-width: none;
        display: block;
        
        border-bottom: thin solid $brown;
      }
    }
  }
}